@import "../../utilities/colors";

header {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 50px;
  background-color: $header-background;
  display: flex;
  align-items: center;
  color: $primary-font;
}
header h2 {
  display: inline;
  padding-left: 10px;
}

.tomato {
  width: 50px;
}
