<div class="card" [ngClass]="timerStarted === true ? 'running' : 'break'">
    <span class="mode">{{timeToBreak ? 'Time to break' : 'Time to focus'}} #{{counter}}</span>
    <div class="timer">
        <span>{{show_min}}:{{show_sec}}</span>
    </div>
    <div class="timeControlls">
        <button *ngIf="!timerStarted" (click)="decreaseTimer()" class="btn">-</button>
        <button *ngIf="!timerStarted" (click)="increaseTimer()" class="btn">+</button>
    </div>
    <div class="timerControlls">
        <button *ngIf="!timerStarted" (click)="startTimer()" class="btn">Start {{!timeToBreak ? 'focus' :
            'break'}}</button>
        <button *ngIf="timerStarted" (click)="skipTimer()" class="btn">Skip {{timeToBreak ? '' : 'to
            break'}}</button>
        <button (click)="resetTimer()" class="btn">Reset</button>
    </div>
</div>